* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

.primario {
    width: 88%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div {
    display: block;
}

nav {
    display: block;
}

ul li {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.botao a {
    text-decoration: none;
    font-size: 16px;
}

.botao1 {
    color: var(--text-color);
}

.botao2 {
    color: white;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 10px;
}

.cabeçalho p {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    margin: 24px 0;
}

.cabeçalho h1 {
    text-align: center;
    font-size: 48px;
    margin: 40px 0px;
}

.cabeçalho h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

.metricas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 50px;
    padding: 0 50px;
}

.metricas-container div h1 {
    color: var(--main-color);
    font-size: 60px;
}

.metricas-container div h2 {
    font-size: 18px;
}

.metricas-container div p {
    color: var(--text-color);
    font-size: 16px;
}

.vagas1 {
    text-align: center;
    margin: 50px;
}

.vagas1 p {
    display: block;
    width: 125px;
    margin: 0 auto;
    color: var(--main-color);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 10px;
    font-weight: 600;
}

.vagas1 h1 {
    margin: 16px 0;
}

.vagas1 h2 {
    margin: 50px 0;
    color: var(--text-color);
}

.vag {
    font-size: 20px;
    width: 768px;
    margin: 0 auto;
}

.vagas2 {
    width: 768px;
    margin: 50px auto;
    border: 1px solid #EAECF0;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px;
    border-radius: 16px;
}


.titulo-vaga {
    width: 720px;
    height: 28px;
    font-size: 18px;
    align-self: stretch;
    margin: 8px 8px 28px;
    font-weight: 750;
}

.informacoes span {
    color: var(--text-color);
    font-size: 16px;
    margin: 0 8px;
    align-self: stretch;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    width: 1216px;
    margin: 0 auto;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.depoimentos p {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    margin: 25px 0;
}

.depoimentos h1 {
    font-size: 36px;
    text-align: center;
}

.depoimentos img {
    width: 56px;
    height: 56px;
    margin: 25px 0;
}

.depoimentos h2 {
    font-size: 16px;
    margin: 4px 0;
}

.depoimentos h3 {
    font-size: 14px;
    color: var(--text-color);
    margin: 4px 0;
    font-weight: 400;
}